In [47]:
import numpy as np
import os
import shutil
import natsort  #排序
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder


#数据label加载
df=pd.DataFrame(pd.read_csv('rock_label_1.csv',encoding='GBK'))
#print(data_label[0:6],data_label.shape)
df['样本类别'].value_counts()
#标签编码
le=LabelEncoder()
le.fit(df['样本类别'].values.tolist())
le.classes_
df['样本类别']=le.transform(df['样本类别'].values.tolist())
df['样本类别'].value_counts()

0    19
1    17
2     9
3     9
5     7
6     5
4     4
Name: 样本类别, dtype: int64

In [48]:
len_col= df.shape[0]+1
loc_index = 0
new_df = pd.DataFrame()

for loc in range(len_col):
    loc_index += 1
    for i in range(9):
        new_df = new_df.append(df[loc_index-1:loc_index])

In [50]:
path = r'./output/train_images'
files_list = os.listdir(path)
files_list = natsort.natsorted(files_list)#排序
new_df['样本编号'] = files_list

In [51]:
path = r'./output/train_images'
files_list = os.listdir(path)
files_list = natsort.natsorted(files_list)
new_df['样本编号'] = files_list
new_df.columns = ['image_id', 'label']

In [52]:
new_df.index=np.arange(0,new_df.shape[0],1)
new_df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            620, 621, 622, 623, 624, 625, 626, 627, 628, 629],
           dtype='int64', length=630)

In [53]:
#####################################
#增加flod层用于5折交叉验证
#####################################
fold=pd.DataFrame(np.random.randint(0,5,new_df['image_id'].values.shape))
new_df['fold']=fold
new_df['fold'].value_counts()
new_df

      image_id  label  fold
0      1_1.jpg      1     2
1      1_2.jpg      1     2
2      1_3.jpg      1     2
3      1_4.jpg      1     1
4      1_5.jpg      1     3
..         ...    ...   ...
625  350_5.jpg      0     3
626  350_6.jpg      0     4
627  350_7.jpg      0     0
628  350_8.jpg      0     3
629  350_9.jpg      0     3

[630 rows x 3 columns]

In [56]:
new_df.to_csv("./input/white_light/train.csv", encoding="GBK",index=False)#save file

In [ ]:
new_df['fold'].value_counts()